body {}

.container {
    border: 1px solid cornflowerblue;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.sessionBreak {
    margin: auto;
    text-align: center;
}

.sessionBreak button {
    background: #6da7b1;
    width: 50%;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #fff;
}

.sessionBreak button:hover {
    background: #138194;
}

button {
    padding: 7px 40px;
    letter-spacing: 1px;
}

.timeContainer {
    position: relative;
    border: 2px solid #138194;
    height: 300px;
    width: 300px;
    text-align: center;
    margin: 15px auto;
    border-radius: 50%;
}

#time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 52px;
}