body {
    margin: 0;
    padding: 0;
    font-family: 'Gaegu', cursive;
    color: #ffffff;
}

.container {
    min-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 60vh;
}

.sessionBreak {
    margin: auto;
    text-align: center;
}

.sessionBreak button {
    background: #6da7b1;
    width: 50%;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #fff;
}

.sessionBreak button:hover {
    background: #138194;
}

button {
    /* padding: 7px 40px; */
    letter-spacing: 1px;
}

.timeSection {
    display: flex;
    position: relative;
    max-height: 60vh;
}

.timeContainer {
    position: relative;
    border: 2px solid #fff;
    min-height: 20vw;
    min-width: 20vw;
    text-align: center;
    margin: 15px auto;
    border-radius: 50%;
}

#time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    width: 100%;
    font-weight: bolder;
}

.minuteChangerBox {
    max-width: 20%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(5vw, -50%);
    font-size: 4vw;
}

.minuteChangerBox span {
    display: block;
    margin: auto;
}

.timeControls {
    width: 100%;
    margin: auto;
    border: 1px solid #6da7b1;
    text-align: center;
    min-height: 6vh;
}

.timeControls button {
    margin-left: 1vw;
    min-height: 6vh;
    background: #6da7b1;
    color: #fff;
}

.timeControls button,
.timeControls button .fas {
    font-size: 100%;
    font-weight: bold;
}