body {
    margin: 0;
    padding: 0;
    font-family: 'Gaegu', cursive;
    color: #ffffff;
}

header {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.container {
    min-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 60vh;
}

.sessionBreak {
    margin: auto;
    text-align: center;
}

.sessionBreak button {
    background: rgb(204, 131, 143);
    width: 50%;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #fff;
}

.sessionBreak button:hover {
    background: #ff6fb7;
}

button {
    padding: 7px 40px;
    letter-spacing: 1px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeSection {
    display: flex;
    position: relative;
    max-height: 60vh;
}

.timeContainer {
    position: relative;
    border: 2px solid #fff;
    min-height: 20vw;
    min-width: 20vw;
    text-align: center;
    margin: 15px auto;
    border-radius: 50%;
}

#time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    width: 100%;
    font-weight: bolder;
}

.minuteChangerBox {
    max-width: 20%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(5vw, -50%);
    font-size: 4vw;
}

.minuteChangerBox span {
    display: block;
    margin: auto;
}

.timeControls {
    width: 100%;
    margin: auto;
    text-align: center;
    min-height: 6vh;
}

.timeControls button {
    margin-left: 1vw;
    min-height: 6vh;
    background: #ff6fb7;
    color: #fff;
}

.timeControls button,
.timeControls button .fas {
    font-size: 100%;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background: #ff6fb7;
    padding: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer a {
    text-decoration: none;
    color: rgb(224, 191, 191);
}